<Files *.ini>  
Order deny,allow
Deny from all
</Files>

<IfModule mod_php5.c>
	RewriteEngine On

	RewriteRule ^trackback/(.*)$ trackback.php?id=$1 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d 	
	RewriteRule . index.php [L]
</IfModule>