<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">					
        <div class="collapse navbar-collapse text-center" id="navbar-collapse2" style="width:100%;">
          <ul class="nav navbar-nav navbar-right">		  
			 <? if ($_SESSION['isloggedin'] !== FALSE && !empty($_SESSION['isloggedin'])) { ?>
				<li><a href="{$base}" data-toggle="tooltip" data-placement="bottom" title="Home"><b class="icon-home"></b> Home</a></li>
				<? if ($_SESSION['role'] == 'admin') { ?>
					<li><a href="{$base}?i=Admin" data-toggle="tooltip" data-placement="bottom" title="Admin"><b class="icon-wrench"></b> Admin</a></li>
				<? } ?>
				<li><a href="{$base}?i=Dashboard" data-toggle="tooltip" data-placement="bottom" title="My Dashboard"><b class="icon-dashboard"></b> Dashboard</a></li>
				<li><a href="{$base}?i=Submit" data-toggle="tooltip" data-placement="bottom" title="Submit Articles"><b class="icon-save"></b> Submit</a></li>
				<li><a href="{$base}?i=Logout" data-toggle="tooltip" data-placement="bottom" role="button" data-toggle="modal" title="Logout"><b class="icon-signout"></b> Logout</a></li>
			 <? } else { ?>
				<li><a href="{$base}" data-toggle="tooltip" data-placement="bottom" title="Home"><b class="icon-home"></b> Home</a></li>
				<li><a href="{$base}?i=Login" data-toggle="tooltip" data-placement="bottom" role="button" data-toggle="modal" title="Login"><b class="icon-key"></b> Login</a></li>
				<li><a href="{$base}" data-toggle="tooltip" data-placement="bottom" role="button" data-toggle="modal" title="Create Account"><b class="icon-user-md"></b> Register</a></li>
			 <? } ?>
             <li><a href="{$base}?i=About" data-toggle="tooltip" data-placement="bottom" role="button" title="About Us"><b class="icon-paper-clip"></b> About</a></li>
			 <li><a href="{$base}?i=Terms" data-toggle="tooltip" data-placement="bottom" role="button" title="Terms of Service"><b class="icon-globe"></b> Terms of Service</a></li>
			 <li><a href="{$base}?i=Contact" data-toggle="tooltip" data-placement="bottom" role="button" title="Contact Us"><b class="icon-envelope-alt"></b> Contact</a></li>
			 <li><a href="{$base}forums" data-toggle="tooltip" data-placement="bottom" title="Forums" target="_new"><b class="icon-asterisk"></b> Forums</a></li>
           </ul>
        </div>	
     </div>	
</div>